:root {
  --background: #f0f0f0;
}

::placeholder {
  color: rgba(117, 112, 112, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.textarea {
  resize: none;
  font-size: 16px;
  border-radius: 10px;
  max-width: 100%;
  min-width: 100%;
  min-height: 50px;
  max-height: 150px;
  height: 75px;
  padding: 15px;
  color: rgb(50, 50, 50);
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  margin-bottom: 20px;
}

.outline {
  outline: 1px solid white;
}
.outline:focus {
  outline: 1px solid #0271e3
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header {
  color:rgb(236, 13, 13);
  text-align: center;

  
}

.surveryContainer {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 75vw;
  height: auto;
  border-radius: 25px;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .surveryContainer {
      width: 100vw;
  }
}

.radioGroup{
  justify-content: space-between;
  padding-bottom: 15px;
}

.multiSelectText {
  margin-top: 15px;
  margin-bottom: 15px;
}
.inputText {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: solid;
  font-size: 16px;
  border-radius: 10px;
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
  resize: none;
  color: rgb(50, 50, 50);
  background-color: white;
}

.inputLogin {
  display: flex;
  width: 80%;
  height: 50px;
  padding: 15px;
  border: solid;
  font-size: 24px;
  border-radius: 10px;
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  resize: none;
  color: rgb(50, 50, 50);
  background-color: white;

}

.inputPlaceholderError::placeholder{
  color: red;
}
.fixed {
  position: fixed;
}

.wFull {
  width: 100%;
}

.hFull {
  height: 100%
}

.centerX {
  display: flex;
  justify-content: center;
}

.centerY {
  display: flex;
  align-items: center;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  height: 0;
  width: 0;
  }
/* 
label {
    cursor: pointer !important;

} */

.checkmark {
  color: #0271e3;
  width: 20px;
  height: 20px;
  cursor: pointer;

}
.selectionText {
  margin-left: 10px;
}

.spaceAbove {
  margin-top: 5px;
}
/* custom box */
.square {
  color: rgb(227, 227, 227);
  width: 20px;
  height: 20px;
  cursor: pointer;

}

.square:hover {
  color:#cdcdcd;
}

.circle {
  width: 16px;
  height: 16px;
  border: 2px solid #ebe9e9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.circle:hover {
  background-color: #ffffff;
  color: #ebe9e9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginOverlay {
  display: flex;
  background-color: rgba(152, 152, 152, 0.165);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}

.loginButton {
  background-color:#0271e3;
  height: 50px;
  width: 50px;
  margin-left: 15px;
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
  border-start-end-radius: 15px;
  border-end-end-radius: 15px;

}



.loginModal {
  display: flex;
  background-color: white;
  width: 30em;
  height: 8em;
  border-radius: 15px;
}

.dot {
  font-size: small;
  color: #ebe9e9;
}

input:checked + .circle {
  color: #0271e3;
}

.description {
  margin-bottom: 15px
}

.input2 {
  margin-bottom: 5px;
}

.col {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #ffffff;
  border: none;
  cursor: pointer !important;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  background-color:#1b84ed;
}

button:active {
  transform: scale(.95);
  background-color:#006ad4;

}

.privacyPolicy {
  width: 80%;
  height: 300px;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.submitButton {
  width: 200px;
  height: 40px;
  padding: 30px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  font-size: large;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color:#0271e3;
  color: rgb(255, 255, 255);
  text-justify: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mTop {
  margin-top: 10px;
}
.link {
  margin: 5px;
  margin-bottom: 20px;
}

.link:hover {
  color:#0271e3;
  text-decoration: underline;
}

.footer {
  display: flex;
  margin-top: auto;
  width: 100%;
  color:#828181;
}

.formButton {
  width: 15em;
  height: 3em;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: large;
  margin: 30px;
  background-color:#0271e3;
  color: rgb(255, 255, 255);
  text-justify: center;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.ratingGroup {
  display: flex;
  margin-bottom: 5px;
}
.surveyStructure {
  display: flex;
  flex-direction: column;
  padding: 3em;
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.w-0 {
  width: 0;
}

.h-0 {
  height: 0;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
strong {
color: #606060ff
}

.tailInputContainer {
  display: flex;
  width: 100%;
  justify-content: center;

}

.starsRating {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  width: 100%;
  height: 40px;
}
.prompt {
  display: flex;
  flex-direction: column;
}

.star {
  display: flex;
  flex-direction: row;
  margin-right: 2px;
  cursor: pointer;

}

@media (hover: hover) and (pointer: fine) {
#ratingGroup:has(#star5:hover) #star5,
#ratingGroup:has(#star5:hover, #star4:hover) #star4,
#ratingGroup:has(#star5:hover, #star4:hover, #star3:hover) #star3,
#ratingGroup:has(#star5:hover, #star4:hover, #star3:hover, #star2:hover) #star2,
#ratingGroup:has(#star5:hover, #star4:hover, #star3:hover, #star2:hover, #star1:hover) #star1
 {
  
  fill: rgb(255, 194, 96);
}
}
#ratingGroup:has(#star5.toggleStars) #star5,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars) #star4,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars) #star3,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars, #star2.toggleStars) #star2,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars, #star2.toggleStars, #star1.toggleStars) #star1
 {
  
  fill: rgb(255, 194, 96);
}
.subject {
  color:#868686;
  fill:rgba(188, 188, 188, 0.4);
}

.textBoxTitle {
  margin-bottom: 5px;
  max-width: 250px;
}

.logo {
  margin-top: 30px;
  margin-bottom: 30px;
}
.stars {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
.fields {
  background-color: white;
}

select {
  cursor: pointer;
}

.dropdown {
  height: 50px;
  max-width: 100%;
  color: rgba(117, 112, 112, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;  
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.error {
  color: red;
}

.errorColor {
  color: red;
}

.errorStars {
  display: flex;
  margin-top:auto;
  margin-bottom: auto;
  margin-right: 5px;
  margin-left: 5px;
}

.errorOutline {
  outline: solid;
  outline-width: 1px;
  outline-color: red;
}

.errorBorder {
  border: solid;
  border-width: 1px;
  border-color: red;
  padding: 10px;
  border-radius: 10px;
}
.ratingHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorGroupBorder {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 5px;
  padding: 3px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
