:root {
  --background: #ffffff;
}

::placeholder {
  color: rgba(117, 112, 112, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.textarea {
  resize: none;
  font-size: 16px;
  border-radius: 10px;
  max-width: 100%;
  min-width: 100%;
  min-height: 50px;
  max-height: 150px;
  height: 75px;
  padding: 15px;
  color: rgb(50, 50, 50);
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  margin-bottom: 20px;
}

.outline {
  outline: 1px solid white;
}
.outline:focus {
  outline: 1px solid #0271e3
}

.main {
  display: flex;
  justify-content: center;
  
}

.header {
  color:rgb(236, 13, 13);
  text-align: center;

  
}

.surveryContainer {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 75vw;
  height: auto;
  border-radius: 25px;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 500px) {
  .surveryContainer {
      width: 100vw;
  }
}

input {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: solid;
  font-size: 16px;
  border-radius: 10px;
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
  resize: none;
  color: rgb(50, 50, 50);
}

.input2 {
  margin-bottom: 5px;
}

.col {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #ffffff;
  border: none;
}

.submitButton {
  width: 200px;
  height: 40px;
  padding: 30px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  font-size: large;
  margin-top: 30px;
  background-color:#0271e3;
  color: rgb(255, 255, 255);
  text-justify: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratingGroup {
  display: flex;
  margin-bottom: 5px;
}
.surveyStructure {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-style: solid;
  border-radius: 5px;
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  width: 100%;
  height: 100%;

}

.tailInputContainer {
  display: flex;
  width: 100%;
  justify-content: center;

}

.starsRating {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  width: 100%;
  height: 40px;
}
.prompt {
  display: flex;
  flex-direction: column;
}

.star {
  display: flex;
  flex-direction: row;
  margin-right: 2px;
}

@media (hover: hover) and (pointer: fine) {
#ratingGroup:has(#star5:hover) #star5,
#ratingGroup:has(#star5:hover, #star4:hover) #star4,
#ratingGroup:has(#star5:hover, #star4:hover, #star3:hover) #star3,
#ratingGroup:has(#star5:hover, #star4:hover, #star3:hover, #star2:hover) #star2,
#ratingGroup:has(#star5:hover, #star4:hover, #star3:hover, #star2:hover, #star1:hover) #star1
 {
  
  fill: rgb(255, 194, 96);
}
}
#ratingGroup:has(#star5.toggleStars) #star5,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars) #star4,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars) #star3,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars, #star2.toggleStars) #star2,
#ratingGroup:has(#star5.toggleStars, #star4.toggleStars, #star3.toggleStars, #star2.toggleStars, #star1.toggleStars) #star1
 {
  
  fill: rgb(255, 194, 96);
}
.subject {
  color:#828181;
  fill:rgba(188, 188, 188, 0.4);
}

.textBoxTitle {
  margin-bottom: 5px;
  max-width: 250px;
}

.logo {
  margin-top: 5px;
  padding-top: 15px;
  margin-bottom: 30px;
}
.stars {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
.fields {
  background-color: white;
}

.dropdown {
  height: 50px;
  max-width: 100%;
  color: rgba(117, 112, 112, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;  
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  border-color:rgba(188, 188, 188, 0.4);
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
}



.error {
  color: red;

}

.errorColor {
  color: red;
}

.errorStars {
  display: flex;
  margin-top:auto;
  margin-bottom: auto;
  margin-right: 5px;
  margin-left: 5px;
}

.errorOutline {
  outline: solid;
  outline-width: 1px;
  outline-color: red;
}

.ratingHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorGroupBorder {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 5px;
  padding: 3px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
